header {
	padding: 15px 0;
	margin: 0;
	color: #fff;
	border-bottom: solid #333 1px;
	background: #0B615E;
}
.logo {
	width: 80px;
	height: 80px;
}
nav ul {
	list-style-type: none;
	padding-top: 34px;
	margin: 0 -15px 0 0;
	float: right;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	white-space: nowrap;
}
nav li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
nav li:hover a {
	background: #274948;
	border-radius: 15px;
}
nav a {
	text-decoration: none;
	padding: 10px 15px;
	color: #eee;
	text-shadow: 2px 2px 4px #000;
}
nav a:hover {
	color: #fff;
}
/* ----------------SECCION 1---------------- */
.lastep {
	background-color: #CCD2D2;
	padding-bottom: 30px;
	border-bottom: 1px solid #BDBDBD;
}
h2 {
	font-family: Courier New;
}
.more {
	position: relative;
	float: left;
	margin-top: 10px;
}
.more a {
	color: #3D579D;
	font-family: Arial;
}
.lastep a:hover {
	color: #610B0E;
}
.lastep p {
	margin: 13px;
}
.last a:hover p {
	color: #610B0E;
}
.last img {
	width: 210px;
	border: 1px solid #BDBDBD;
	border-radius: 50%;
	padding: 3px;	
	background: white;
}
.last img:hover {
	background: #0A5552;
	border-radius: 15px;
}
.last div {
	width: 200px;
	/*border: 1px solid #BDBDBD;*/
	margin: 5px 20px;
	padding: 0px;
}
.last p {
	width: 200px;
	text-align: center;
	font-family: Arial;
	color: #286966;
	display: block;
	margin: auto;
}
/*-------------- SECCION 2 --------------*/
#series {
	margin-top: 40px;
}
.serie img {
	width: 110px;
	margin: 0px auto;
	padding: 3px;
	border: 1px solid #BDBDBD;
	border-radius: 5%;
}
#series img:hover {
	background: #0A5552;
}
.serie div {
	margin-right: 15px;
	margin-bottom: 7px;
}
h5 {
	text-align: center;
	font-size: 13px;
	font-family: Arial;
	color: #286966;
	font-weight: 300;
}
a {
	text-decoration: none; /* Quitar subrayado de los enlaces */
}
.serie a:hover h5 {
	color: #8A0808;
}
h4 {
	font-family: Arial;
	color: #585858;
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 3px;
	margin-top: 30px;
}
.july {
	line-height: 23px;
}
/*          Suscribe          */
.suscribe ul {
	list-style: none;
	margin-top: 20px;
	font-family: sans-serif;
	font-size: 14px;
}
.suscribe li {
	margin: 10px;
}
.suscribe a{
	color: #286966;
}
.suscribe a:hover {
	color: #8A0808;
}
.pod {
	width: 15px;
}
.app {
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 20px;
}
.suscribe p {
	width: 300;
	font-family: sans-serif;
	font-size: 14px;
	padding: 15px 0px;
}
/* ---------- PIE DE PAGINA ---------- */
footer {
	background-color: #1A6562;
}
.desc {
	color: white;
	font-size: 15px;
	width: 400;
	margin: 20px;
	text-align: justify;
	line-height: 30px;
}
footer a {
	color: #BDBDBD;
	font-size: 13px;
}
footer p {
	text-align: center;
	margin: 25px;
	font-family: arial, sans-serif;
}
footer a:hover {
	color: white;
}
.copyright {
	color: #A4A4A4;
	font-size: 11px;
	margin-bottom: 40px;
}